.mdl-grid.center-items {
    justify-content: center;
}

.lc-banner {
    position: relative;
    display: flex;
    height: 320px;
    margin-bottom: 10px;
    background: url(../images/bg-1.jpg) no-repeat center/cover;
}

.lc-banner:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .7);
}

.lc-banner:after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url(https://www.transparenttextures.com/patterns/dark-stripes.png);
}

.lc-banner__content {
    position: relative;
    z-index: 10;
    color: #fff;
}

.lc-banner__content--title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

.lc-banner__content--subtitle {
    font-size: 16px;
    font-weight: 100;
}

.lc-banner__content--img {
    float: right;
    border: 2px solid #fff;
}

.lc-banner__content--img-size {
    width: 100px;
}

.lc-banner__content--img-circle {
    border-radius: 50%;
}

.lc-banner__content--info {
    padding: 5px 20px;
    color: #1bbc9b;
    border: 1px solid #1bbc9b;
}

.lc-banner__content--social-icon {
    font-size: 40px;
    color: #fff;
}

.mdl-layout__header {
    background: #fff;
    color: #333333;
}

.mdl-card.amazing,
.blog .mdl-card {
    border: 1px solid #ccc;
    border-radius: 3px;
}

main {
    background: #f1f1f1;
}

.blog .blog__posts>.demo-nav>.demo-nav__button {
    color: #333;
}

.blog__posts h4 {
    margin: 8px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 320px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blog__posts h4 {
        margin: 0 auto;
    }
    .lc-banner__content--title {
        font-size: 20px;
    }
    .container {
        width: auto;
    }
    .lc-banner__content {
        text-align: center;
    }
    .lc-banner__content--img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .item-1 {
        flex: 1;
        order: 2;
    }
}

@media (min-width: 840px) {
    .container {
        width: 700px;
    }
    .blog__posts h4 {
        margin: 0px;
    }
    .lc-banner__content--title {
        font-size: 32px;
    }
    .lc-banner__content {
        text-align: center;
    }
    .lc-banner__content--img {
        display: block;
        float: right;
        margin: 0;
    }
    .item-1 {
        flex: 1;
        order: 0 !important;
    }
}

.blog__posts h4 {
    margin: 20px auto;
}

.lc-author.lc-author__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/authors/lucas.jpg);
}

.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: #333;
    line-height: 64px;
    padding: 0 24px;
}

.blog .mdl-card__media {
    background-image: url(../images/pattern.png);
    background-color: #3B89DA;
    background-repeat: repeat;
    background-size: 40%;
}

.mdl-card__supporting-text p {
    padding: 30px;
    line-height: 1.5;
    color: #333;
    font-size: 15px;
}

.mdl-card__supporting-text {
    color: #333 !important;
}

.mdl-mini-footer {
    padding: 15px;
    text-align: center;
    padding: 15px;
    display: block;
    color: #666;
}