article,
section {
  header {
    a.author-name {
      font-size: 18px;
      color: $fontColor;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
    }

    .author-position,
    .author-biography {
      font-size: 16px;
      color: lighten($fontColor, 50%);
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 400;
      margin: 0px;
    }

    ul {
      margin: 2px 0px 0px 0px;

      li {
        a,
        time,
        span {
          font-size: 16px;
          color: lighten($fontColor, 50%);
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 400;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    ul {
      li:not(:first-child)::before {
        display: inline;
        content: '\00B7';
        color: lighten($fontColor, 50%);
        margin-right: 2px;
      }
    }
  }

  h1.article-title {
    font-size: 30px;
  }

  .article-tags {
    .article-tag {
      a {
        color: lighten($fontColor, 50%);
        text-decoration: underline;
      }
    }
  }

  .article-content {
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 400;
    text-align: left;
    overflow: hidden;

    ul {
      list-style: none;
      list-style-image: none;
      padding-left: 20px;

      li {
        &::before {
          font-size: 14px;
          padding-top: 4px;
          padding-right: 15px;
          content: '\2022';
        }
      }
    }

    /**
     * Hack to get just table elements without the class attribute
     * just because, we have table for syntax-highlight too.
     */
    table:not([class]) {
      width: 100%;
      border-collapse: collapse;
      overflow-x: scroll;
      border: 1px solid lighten($fontColor, 70%);
      margin: 0px 0px 15px 0px;

      thead {
        background: lighten($fontColor, 90%);
      }

      tr {
        th, td {
          text-align: left;
          padding: 7px 10px;
          border: 1px solid lighten($fontColor, 70%);
          font-size: 16px;
        }
      }
    }

    code {
      padding: 0.2rem 0.4rem;
      font-size: 90%;
      color: #bd4147;
      background-color: #f8f9fa;
      border-radius: 0.25rem;
    }

    blockquote {
      border-left: 3px solid $fontColor;
      padding-left: 20px;

      p {
        display: inline;
        font-style: italic;
        color: lighten($fontColor, 20%);
      }

      &::before {
        display: inline;
        content: '\201C';
        color: lighten($fontColor, 20%);
      }

      &::after {
        display: inline;
        content: '\201D';
        color: lighten($fontColor, 20%);
      }
    }
  }

  #disqus_thread {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding-top: 20px;
  }
}
