article,
section {
  header {
    a.author-name {
      color: #000;
      color: $fontColor;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
    }

    .author-position,
    .author-biography {
      color: #808080;
      color: lighten($fontColor, 50%);
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 400;
      margin: 0;
    }

    ul {
      margin: 2px 0 0 0;

      li {
        a,
        time,
        span {
          color: #808080;
          color: lighten($fontColor, 50%);
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: 400;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    ul {
      li:not(:first-child)::before {
        display: inline;
        content: '\00B7';
        color: #808080;
        color: lighten($fontColor, 50%);
        margin-right: 2px;
      }
    }
  }

  .article-tags {
    .article-tag {
      a {
        color: #808080;
        color: lighten($fontColor, 50%);
        text-decoration: underline;
      }
    }
  }

  .article-content {
    line-height: 1.8em;
    font-weight: 400;
    text-align: left;
    overflow: hidden;

    /**
     * Hack to get just table elements without the class attribute
     * just because, we have table for syntax-highlight too.
     */
    table:not([class]) {
      width: 100%;
      border-collapse: collapse;
      overflow-x: scroll;
      border-width: 1px;
      border-style: solid;
      border-color: #b3b3b3d6;
      border-color: lighten($fontColor, 70%);
      margin: 0 0 15px 0;

      thead {
        background-color: #b3b3b3d6;
        background-color: lighten($fontColor, 90%);
      }

      tr {
        th, td {
          text-align: left;
          padding: 7px 10px;
          border-width: 1px;
          border-style: solid;
          border-color: #b3b3b3d6;
          font-size: em(16px);
        }
      }
    }

    code {
      font-size: em(15px);
      padding: 0.2rem 0.4rem;
      color: #bd4147;
      background-color: #f8f9fa;
      border-radius: 0.25rem;
    }

    blockquote {
      border-left-width: 3px;
      border-left-style: solid;
      border-left-color: #000000d6;
      border-left-color: $fontColor;
      padding-left: 20px;

      p {
        display: inline;
        font-style: italic;
        color: #333333d6;
        color: lighten($fontColor, 20%);
      }

      &::before {
        display: inline;
        content: '\201C';
        color: #333333d6;
        color: lighten($fontColor, 20%);
      }

      &::after {
        display: inline;
        content: '\201D';
        color: #333333d6;
        color: lighten($fontColor, 20%);
      }
    }
  }

  #disqus_thread {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding-top: 20px;
  }
}
