header {
  margin-bottom: 40px;

  .header {
    height: 55px;
    border-bottom: 1px solid #eee;
  }

  .search {
    display: block;

    .search-icon {
      display: inline-block;
      background: url("../images/icons/search.svg");
      background-size: 18px auto;
      height: 18px;
      width: 18px;
      position: relative;
      top: 3px;
    }

    .search-link {
      color: #000;
      color: $fontColor;
      text-decoration: none;
      @include box-shadow(0 0 0 0 #34e79a);
    }
  }

  a.brand {
    font-family: 'Fjalla One';
    font-weight: normal;
    font-style: normal;
    color: #000;
    color: $fontColor;
    text-decoration: none;
    display: block;

    &::before {
      display: inline;
      content: '<';
      color: #999;
      color: lighten($fontColor, 60%);
    }

    &::after {
      display: inline;
      content: '/>';
      color: #999;
      color: lighten($fontColor, 60%);
    }
  }

  .locale {
    img {
      height: 32px;
      width: 32px;
    }
  }
}