header {
  margin-bottom: 40px;

  .header {
    height: 55px;
    border-bottom: 1px solid #eee;
  }

  .search {
    display: block;

    .search-icon {
      display: inline-block;
      background: url("../images/icons/search.svg");
      background-size: 18px auto;
      height: 18px;
      width: 18px;
      position: relative;
      top: 3px;
    }

    .search-link {
      color: #000;
      color: $fontColor;
      text-decoration: none;
      @include box-shadow(0 0 0 0 #34e79a);
    }
  }

  a.brand {
    font-family: 'Fjalla One';
    font-weight: normal;
    font-style: normal;
    color: #000;
    color: $fontColor;
    text-decoration: none;
    display: block;

    &::before {
      display: inline;
      content: '<';
      color: #999;
      color: lighten($fontColor, 60%);
    }

    &::after {
      display: inline;
      content: '/>';
      color: #999;
      color: lighten($fontColor, 60%);
    }
  }

  .locale-list {
    border: 1px solid lighten($fontColor, 60%);
    border-radius: 8px;
    padding: 7px 5px;

    .locale-list-item:first-child {
      padding-right: 5px;
      margin-right: 0px;
      border-right: 1px solid lighten($fontColor, 60%);
    }

    .locale-list-item {
      a {
        color: lighten($fontColor, 55%);

        &:hover {
          color: lighten($fontColor, 25%);
        }
      }
    }

    .locale-list-item--active {
      font-weight: bold;

      a {
        color: $fontColor;

        &:hover {
          color: lighten($fontColor, 15%);
        }
      }
    }
  }

  .github-corner {
    position: absolute;
    top: 0;
    right: 0;
  }
}
