.post-list {
  a {
    color: #000000d6;
    color: $fontColor;
    text-decoration: none;
  }

  .counter {
    color: #333333d6;
    color: lighten($fontColor, 20%);

    &::before,
    &::after {
      display: inline;
      color: #333333d6;
      color: lighten($fontColor, 20%);
    }

    &::before {
      content: '(';
      margin-right: 1px;
    }

    &::after {
      content: ')';
      margin-left: 1px;
    }
  }

  a.see-all-posts {
    display: inline-block;

    &::after {
      display: inline;
      color: #1a1a1ad6;
      color: lighten($fontColor, 10%);
      content: '\2192';
      margin-left: 5px;
    }
  }

  .post-list--title {
    text-decoration: underline;
  }
}
