.search {
  .search-info {
    list-style: circle;

    li {
      color: #808080d6;
      color: lighten($fontColor, 50%);
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 400;
    }

    li::after {
      display: inline;
      color: #999999d6;
      color: lighten($fontColor, 60%);
      content: ';';
    }

    li:last-child::after {
      content: '.';
    }
  }
  
  .search-input-field {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    font-style: italic;
  }
}
