{{ $posts          := where (where .Site.Pages "Type" "posts") "Params.author" .Params.email }}
{{ $author         := index .Site.Data.authors .Params.email }}
{{ $locale         := .Site.Params.locale }}
{{ $resume         := index $author.resume $locale }}
{{ $links          := $author.links }}
{{ $socialNetworks := $author.socialNetworks }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<section class="container">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">

            <header>
                <div class="row clearfix">
                    <div class="col">
                        <div class="float-left">
                            <img class="rounded-circle" src="{{ .Site.BaseURL }}{{ $author.picture.thumbnail }}" alt="{{ $author.name }}" height="60px" width="60px">
                        </div>

                        <div class="float-left ml-2">
                            <a href="#" rel="author" class="author-name">{{ $author.name }}</a>
                            <p class="author-position">{{ index $author.position $locale }}</p>
                            <p class="author-position">{{ index $author.biography $locale }}</p>

                            <ul class="list-unstyled list-inline">
                                {{ if $resume }}
                                    <li class="list-inline-item d-none d-sm-inline">
                                        <a href="{{ $resume }}" target="_blank">{{ i18n "resume" }}</a>
                                    </li>
                                {{ end }}

                                {{ range $socialNetwork, $profile := $socialNetworks }}
                                    {{ partial "author-social-network.html" (dict "socialNetwork" $socialNetwork "profile" $profile ) }}
                                {{ end }}

                                {{ range $link := $links }}
                                    {{ partial "author-links.html" (dict "link" $link "locale" $locale ) }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            {{ if $posts }}
                {{ range $posts }}
                    {{ partial "post-card.html" . }}
                {{ end }}
            {{ else }}
                <p>“{{ i18n "noResultsFound" }}”.</p>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
