{{ $pages    := .Data.Pages }}
{{ $locale   := .Site.Params.locale }}
{{ $category := index .Site.Data.categories .Data.Term }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<section class="container">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            {{ if $category }}
                <h1>{{ index (index $category "title") $locale }}</h1>
            {{ else }}
                <h1>{{ .Title }}</h1>
            {{ end }}

            {{ if $pages }}
                {{ range $pages }}
                    {{ partial "post-card.html" . }}
                {{ end }}
            {{ else }}
                <p>“{{ i18n "noResultsFound" }}”.</p>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
