{{ $data       := .Data }}
{{ $results    := .Data.Terms.ByCount }}
{{ $baseUrl    := .Site.BaseURL }}
{{ $locale     := .Site.Params.locale }}
{{ $categories := .Site.Data.categories }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<section class="container post-list">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <h1>{{ i18n (lower .Title) }}</h1>

            {{ if $results }}
                {{ range $key, $value := $results }}
                    {{ $category := index $categories $value.Name }}

                    <h2 class="mt-3">
                        {{ if $category }}
                            <a class="post-list--title" href="{{ $baseUrl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ index (index $category "title") $locale }}</a>
                        {{ else }}
                            <a class="post-list--title" href="{{ $baseUrl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a>
                        {{ end }}
                        <span class="counter">{{ $value.Count }}</span>
                    </h2>
                    <ul>
                        {{ range $value.Pages.ByDate }}
                            <li>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
            {{ end }}
            {{ else }}
                <p>“{{ i18n "noResultsFound" }}”.</p>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
