<!DOCTYPE html>
<html lang="{{ .Site.Params.Locale }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
{{ partial "head-favicon.html" . }}
{{ partial "head-support-ie.html" . }}
{{ partial "head-meta.html" . }}
{{ partial "head-assets.html" . }}
</head>
<body role="document">
    {{ $baseURL := .Site.BaseURL }}
    <div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded">
        {{ partial "navbar.html" . }}
        <main class="mdl-layout__content">
            {{ partial "banner.html" . }}
            <div class="blog__posts mdl-grid">
                
                {{ partial "i18n-list" . }}

                <div class="lc-info-tip">
                    <div class="lc-info-tip-icon">
                        <img src="{{ $baseURL }}images/icons/idea.svg" alt="">
                    </div>
                    <div class="lc-info-tip-txt">
                        <p>
                            {{ partial "word-count.html" . }}
                        </p>
                        <p>
                            {{ partial "reading-time.html" . }}
                        </p>
                    </div>
                </div>

                <!--<p>{{ .Description }}</p>--> 

                <div class="blog__posts mdl-grid">
                    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media mdl-color-text--grey-50">
                            <h3>{{ .Title }}</h3>
                        </div>
                        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta" style="padding-left:30px">
                            <img src="{{ $baseURL }}images/icons/calendar.svg" style="width:24px;" alt="">
                            <div>
                                {{ range .Params.topics }}
                                    <a href="{{ $baseURL }}/topics/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                                <span>{{ .Date.Format "Mon Jan 2, 2006" }}</span>
                            </div>
                            <div class="section-spacer"></div>
                            <div class="meta__actions">
                                <div>
                                    <span>425</span>
                                </div>
                                <div>
                                    <img src="{{ $baseURL }}images/icons/like.svg" style="width:24px;" alt="icone like">
                                </div>
                                <div>
                                    <img src="{{ $baseURL }}images/icons/share.svg" style="width:24px;" alt="ícone share">
                                </div>
                            </div>
                            
                        </div>
                        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                            {{ .Content }}

                            <ul id="tags">
                                {{ range .Params.tags }}
                                    <li>
                                        <a href="{{ $baseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ template "_internal/disqus.html" . }}                       
                    </div>

                    <nav class="nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                        {{ if .Prev }}
                            <a href="{{ .Prev.Permalink }}" class="nav__button">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                    <i class="material-icons">arrow_back</i>
                                </button>
                            </a>
                        {{ end }}
                        <div class="section-spacer"></div>
                        {{ if .Next }}
                            <a href="{{ .Next.Permalink }}" class="nav__button">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                    <i class="material-icons">arrow_forward</i>
                                </button>
                            </a>
                        {{ end }}
                    </nav>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>
</body>
</html>
