{{ $baseURL         := .Site.BaseURL }}
{{ $author          := index .Site.Data.authors .Params.author }}
{{ $locale          := .Site.Params.locale }}
{{ $datetime        := .Date.Format "2006-01-02" }}
{{ $datetimeDisplay := .Date.Format "Jan 2, 2006" }}
{{ $categoryAlias   := index .Params.categories 0 }}
{{ $category        := index .Site.Data.categories $categoryAlias }}
{{ $tags            := .Site.Data.tags }}

{{ $.Scratch.Add "singlePost" true }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<article class="container">
    <header class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <div class="float-left">
                <img class="rounded-circle" src="{{ $baseURL }}{{ $author.picture.thumbnail }}" alt="{{ $author.name }}" height="60" width="60">
            </div>

            <div class="float-left ml-2">
                <a href='{{ $baseURL }}authors/{{ $author.slug }}' rel="author" class="font-size-h6 author-name">{{ $author.name }}</a>
                <p class="author-position">{{ index $author.position $locale }}</p>

                <ul class="list-inline">
                    <li class="list-inline-item d-inline">
                        <time datetime="{{ $datetime }}">{{ $datetimeDisplay }}</time>
                    </li>
                    <li class="list-inline-item d-none d-sm-inline">
                        <span>{{ partial "word-count.html" . }}</span>
                    </li>
                    <li class="list-inline-item d-none d-sm-inline">
                        <span>{{ partial "reading-time.html" . }}</span>
                    </li>
                    {{ if $category }}
                        <li class="list-inline-item d-inline">
                            <a href="{{ $baseURL }}categories/{{ $categoryAlias | urlize }}">{{ index (index $category "title") $locale }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <h1 class="font-size-h1 mt-2 mb-3">{{ .Title }}</h1>

            <div class="font-size-h6 article-content">
                {{ .Content }}
            </div>

            <ul class="article-tags list-unstyled list-inline">
                {{ range $tag := .Params.tags }}
                    {{ if $tag }}
                        <li class="article-tag list-inline-item">
                            <a href="{{ $baseURL }}tags/{{ $tag | urlize }}">{{ index (index (index $tags $tag) "title") $locale }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>

            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
</article>

{{ partial "footer.html" . }}
