<div class="lc-banner">
    <div class="mdl-grid wrapper">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid container">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone item-1">
                    <div class="lc-banner__content">
                        <h1 class="lc-banner__content--title">João Paulo Cercal</h1>
                        <p class="lc-banner__content--subtitle">Sênior PHP Web Developer</p>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone item-2">
                    <div class="lc-banner__content">
                        <img class="lc-banner__content--img lc-banner__content--img-size lc-banner__content--img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJ6AAAAJDA4ZjMwNTkzLWU2NjItNGM0MS1iODdiLWQ3NzljMTNkMjQ5YQ.jpg" alt="avatar profile">
                    </div>
                </div>
            </div>
            <div class="mdl-grid container">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone mdl-cell--hide-tablet">
                    <div class="lc-banner__content">
                        <p class="lc-banner__content--info">
                            <b>536</b> Following
                        </p>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone mdl-cell--hide-tablet">
                    <div class="lc-banner__content">
                        <p class="lc-banner__content--info">
                            <b>536</b> Following
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>