<div class="lc-banner">
    <div class="mdl-grid wrapper">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid container">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone item-1">
                    <div class="lc-banner__content">
                        <h1 class="lc-banner__content--title">Lorem ipsum doller sit undunit</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>