{{ if not (isset .Params "author") }}
<div class="lc-banner" style="background-image: url({{ .Site.BaseURL }}images/bg-1.jpg);">
    <div class="mdl-grid wrapper">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid container">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone item-1">
                    <div class="lc-banner__content">
                        <h1 class="lc-banner__content--title">Lorem ipsum doller sit undunit</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ else }}
{{ $locale         := .Site.Params.locale }}
{{ $author         := index .Site.Data.authors .Params.author }}
{{ $socialNetworks := .Site.Data.socialNetworks }}

<div class="lc-banner" style="background-image: url({{ .Site.BaseURL }}{{ $author.cover }});">
    <div class="mdl-grid wrapper container">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid container">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone item-1">
                    <div class="lc-banner__content">
                        <h1 class="lc-banner__content--title">{{ $author.name }}</h1>
                        <p class="lc-banner__content--subtitle">{{ index $author.position $locale }}</p>
                        <p>{{ index $author.biography $locale }}</p>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone item-2">
                    <div class="lc-banner__content">
                        <img class="lc-banner__content--img lc-banner__content--img-size lc-banner__content--img-circle" src="{{ .Site.BaseURL }}{{ $author.picture.original }}" alt="{{ $author.name }}">
                    </div>
                </div>
            </div>
            <div class="mdl-grid container">            
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="lc-banner__content">
                        <p class="lc-banner__social">
                            {{ range $index, $profile := $author.socialNetworks }}
                                {{ $socialNetwork := index $socialNetworks $index }}
                                <a href="{{ $socialNetwork.baseUrl }}{{ $profile }}" target="blank" class="linkedin">
                                    <i class="fa {{ $socialNetwork.icon }} fa-2x"></i>                                
                                </a>
                            {{ end }}
                        </p>
                    </div>
                </div>
                
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="lc-banner__content">
                        <p class="lc-banner__content--info lc-banner__more--links">
                            <button  data-href="{{ index $author.resume $locale }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect lc-banner-button-salmon">
                                {{ i18n "resume" }}
                            </button>
                            {{ range $author.links }}
                            <button  data-href="{{ .url }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect lc-banner-button-salmon">
                                {{ index .name $locale }}
                            </button>
                            {{ end }}
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{{ end }}
