<!DOCTYPE html>
<html lang="{{ .Site.Params.Locale }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" itemscope itemtype='http://schema.org/{{ if eq .Section "posts" }}Article{{ else }}WebPage{{ end }}'>
<head>
    {{- partial "head-meta.html" . -}}
    {{- partial "head-favicon.html" . -}}
    {{- partial "head-assets.html" . -}}
    {{- partial "head-support-ie.html" . -}}
    {{- with .Site.GoogleAnalytics -}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ . }}');
        </script>
    {{- end -}}
</head>
<body>
