{{- $baseURL        := .Site.BaseURL -}}
{{- $locale         := .Site.Params.Locale -}}
{{- $ISO8601        := "2006-01-02T15:04:05-07:00" -}}
{{- $seoTitle       := $.Scratch.Get "seoTitle" -}}
{{- $seoDescription := $.Scratch.Get "seoDescription" -}}
{{- $seoKeywords    := $.Scratch.Get "seoKeywords" -}}
{{- $seoImage       := $.Scratch.Get "seoImage" -}}
{{- $seoCanonical   := $.Scratch.Get "seoCanonical" -}}

<meta property="og:title" content="{{ $seoTitle }}">
<meta property="og:description" content="{{ $seoDescription }}">
<meta property="og:url" content="{{ $seoCanonical }}">
<meta property="og:image" content="{{ $seoImage }}">
<meta property="og:locale" content="{{ $locale }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ if eq .Section "posts" -}}
    <meta property="og:type" content="article">
{{ else -}}
    <meta property="og:type" content="website">
{{- end -}}

{{ if .IsPage -}}
    {{- if not .PublishDate.IsZero -}}
        <meta property="article:published_time" content="{{ .PublishDate.Format $ISO8601 | safeHTML }}">
    {{- else if not .Date.IsZero -}}
        <meta property="article:published_time" content="{{ .Date.Format $ISO8601 | safeHTML }}">
    {{- else if not .Lastmod.IsZero -}}
        <meta property="article:modified_time" content="{{ .Lastmod.Format $ISO8601 | safeHTML }}">
    {{- end -}}
{{ else -}}
    {{- if not .Date.IsZero -}}
        <meta property="og:updated_time" content="{{ .Date.Format $ISO8601 | safeHTML }}">
    {{- end -}}
{{- end -}}


{{ if isset .Params "author" -}}
    {{- $author := index .Site.Data.authors .Params.author -}}
    <meta property="article:author" content="{{ $author.socialNetworks.facebook }}">
    <meta property="article:publisher" content="https://www.facebook.com/cercal.io">
    <meta property="article:section" content="{{ .Section }}">

    {{- range (split $seoKeywords ", ") }}
        <meta property="article:tag" content="{{ . }}">
    {{- end -}}
{{- end -}}

<meta property="fb:app_id" content="1533275266791178">
