{{ $categories  := .Site.Taxonomies.categories }}
{{ $data        := site.Data.categories }}
{{ $baseURL     := .Site.BaseURL }}
{{ $locale      := .Site.Language.Lang }}
{{ $locales     := site.Data.locales }}
{{ $localeEn    := index $locales "en" }}
{{ $localePt    := index $locales "pt" }}
{{ $githubTitle := i18n "githubCorner" }}
{{ $githubImg   := printf "%s%s" $baseURL "images/icons/github-corner-right.svg" }}

<header class="container">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <div class="row items-center header">
                <div class="col search">
                    <a class="search-link" href='{{ $baseURL }}{{ if eq $locale "en" }}en/{{ end }}search' aria-label='{{ i18n "searchFor" }}'>
                        <span class="search-icon"></span> <span class="hidden sm:inline">{{ i18n "searchFor" }}</span>
                    </a>
                </div>

                <div class="col">
                    <a class="font-size-h3 brand text-center m-0" href='{{ $baseURL }}{{ if eq $locale "en" }}en/{{ end }}'>jpcercal.com</a>
                </div>

                <div class="col clearfix">
                    <nav class="float-right" aria-label='{{ i18n "localeNav" }}'>
                        <ul class="list-none flex gap-2 m-0 locale-list">
                            <li class='locale-list-item {{ if eq $locale "pt" }}locale-list-item--active{{ end }}'>
                                <a href='{{ if eq $locale "pt" }}#{{ else }}{{ $baseURL }}{{ end }}' class="hidden lg:inline">{{ index $localePt.title $locale }}</a>
                                <a href='{{ if eq $locale "pt" }}#{{ else }}{{ $baseURL }}{{ end }}' class="lg:hidden" title="{{ index $localePt.title $locale }}">PT</a>
                            </li>
                            <li class='locale-list-item {{ if eq $locale "en" }}locale-list-item--active{{ end }}'>
                                <a href='{{ if eq $locale "en" }}#{{ else }}{{ $baseURL }}en{{ end }}' class="hidden lg:inline">{{ index $localeEn.title $locale }}</a>
                                <a href='{{ if eq $locale "en" }}#{{ else }}{{ $baseURL }}en{{ end }}' class="lg:hidden" title="{{ index $localeEn.title $locale }}">EN</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <a href="https://github.com/jpcercal/jpcercal.com" class="hidden lg:inline github-corner" title="{{ $githubTitle }}" aria-label="{{ $githubTitle }}">
        <img src="{{ $githubImg }}" alt="{{ $githubTitle }}" />
    </a>
</header>
