<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <a href="{{ .Site.BaseURL }}" class="mdl-layout-title">Cercal.io</a>

        <div class="mdl-layout-spacer"></div>


        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            {{ $categories := .Site.Taxonomies.categories }}
            {{ $data       := .Site.Data.categories }}
            {{ $baseUrl    := .Site.BaseURL }}
            {{ $locale     := .Site.Params.locale }}
            {{ $locales    := .Site.Data.locales }}

            <ul class="categories">
                {{ range $category, $map := $categories }}
                    {{ range $key, $current := $data }}
                        {{ if eq $key $category }}
                            <li>
                                <a href="{{ $baseUrl }}categories/{{ $category }}">{{ index $current.title $locale }} <span>({{ $map.Count }})</span></a>
                            </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>

            <div class="mdl-layout-spacer"></div>

            <img src="{{ $baseUrl }}images/search.svg" alt="">

            <!-- Search bar -->
            <form onsubmit="return false;" class="lc-search-component">
                <div class="mdl-textfield mdl-js-textfield lc-search-container">
                    <div>
                        
                    </div>
                    <input class="mdl-textfield__input" placeholder='{{ i18n "searchFor" }} ...' type="text" id="search" name="search" />
                </div>
            </form>

            <ul class="lang">
                <li class="pt">
                    <a href="{{ .Site.BaseURL }}"><img src="{{ (index $locales "pt").icon }}" alt="{{ index (index $locales "pt").title $locale }}"></a>
                </li>
                <li class="en">
                    <a href="{{ .Site.BaseURL }}"><img src="{{ (index $locales "en").icon }}" alt="{{ index (index $locales "en").title $locale }}"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
