<!DOCTYPE html>
<html lang="{{ .Site.Params.Locale }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        {{ partial "head-favicon.html" . }}
        {{ partial "head-support-ie.html" . }}
        {{ partial "head-meta.html" . }}
        {{ partial "head-assets.html" . }}
    </head>
    <body role="document">
        <div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded">
            {{ partial "navbar.html" . }}
            <main class="mdl-layout__content">
                {{ partial "banner.html" . }}
                <div class="blog__posts mdl-grid">
                    <h4>{{ i18n "latestPosts" }}</h4>

                    {{ range $index, $post := (.Paginate ( first 10 .Data.Pages.ByDate )).Pages }}
                        {{ partial "post-card" . }}
                    {{ end }}
                </div>
                {{ partial "footer.html" . }}
            </main>
            <div class="mdl-layout__obfuscator"></div>
        </div>
    </body>
</html>
