{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

{{ $.Scratch.Set "showIconCredits" true }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<section class="container">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <h1 class="mb-2">{{ i18n "latestPosts" }}</h1>

            {{ if $paginator.Pages }}
                {{ range $paginator.Pages }}
                    {{ partial "post-card.html" . }}
                {{ end }}
            {{ else }}
                <p class="mb-2">“{{ i18n "noResultsFound" }}”.</p>
            {{ end }}

            <nav class="flex mt-2 mb-6" aria-label='{{ i18n "paginationNav" }}'>
                {{ if .Paginator.HasPrev }}
                    <a class="inline-flex previous" href="{{ .Paginator.Prev.URL }}">
                        {{ i18n "previous" }}
                    </a>
                {{ end }}

                {{ if .Paginator.HasNext }}
                    <a class="ml-auto inline-flex next" href="{{ .Paginator.Next.URL }}">
                        {{ i18n "next" }}
                    </a>
                {{ end }}
            </nav>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
