{{ $locale    := .Site.Params.locale }}
{{ $authors   := .Site.Data.authors }}
{{ $pages     := .Site.Pages }}
{{ $paginator := .Paginate (where .Site.Pages "Type" "authors") }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<section class="container post-list">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <h1>{{ i18n "authors" }}</h1>

            {{ if $paginator.Pages }}
                {{ range $paginator.Pages }}
                    {{ if .Slug }}
                        {{ $author := index $authors .Params.email }}
                        {{ $posts  := where $pages "Params.author" .Params.email }}
            
                        {{ if $posts }}
                            <h2 class="mt-3">
                                <a href="{{ .Permalink }}">{{ $author.name }}</a>
                            </h2>
                
                            <ul>
                                {{ range first 10 $posts }}
                                    <li>
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                
                            <a class="see-all-posts mb-3" href="{{ .Permalink }}">{{ i18n "seeAllPosts" }}</a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ else }}
                <p>“{{ i18n "noResultsFound" }}”.</p>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
