{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

{{ $author := index site.Data.authors "jpcercal@gmail.com" }}

<section class="container">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <h1 class="mb-2">{{ i18n "contact" }}</h1>

            <p class="mb-2">{{ i18n "contactInfo" }}.</p>

            <ul class="list-none flex gap-2">
                <li>
                    <a href="mailto:jpcercal@gmail.com">E-mail</a>
                </li>
                {{ range $socialNetwork, $profile := $author.socialNetworks }}
                    {{ partial "author-social-network.html" (dict "socialNetwork" $socialNetwork "profile" $profile ) }}
                {{ end }}
            </ul>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
