{{ $info := split (i18n "searchForInfo") "." }}

{{ $.Scratch.Set "searchPage" true }}

{{ $.Scratch.Set "showIconCredits" true }}

{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<section class="container">
    <div class="row">
        <div class="col offset-lg-1 offset-xl-2 col-lg-10 col-xl-8">
            <h1 class="mb-2">{{ i18n "searchFor" }}</h1>

            <div class="search">
                <form onsubmit="return false;">
                    <ul class="search-info mt-6 mb-6">
                        {{ range $current := $info }}
                            {{ if $current }}
                                <li>{{ . }}</li>
                            {{ end }}
                        {{ end }}
                    </ul>
                    <input id="search" class="font-size-h6 search-input-field" type="search" autofocus placeholder='{{ i18n "searchForPlaceholder" }}'/>
                </form>
                <div id="search-results" class="mt-6 mb-4"></div>
            </div>
        </div>
    </div>
</section>

<script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.5/lunr.min.js"></script>
{{ partial "js.html" . }}

{{ partial "footer.html" . }}
